@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
background-image:linear-gradient(to right,#f1fb0e0f,#edd41f,#f1fb0e0f);
font-size:15px;
padding:10px;
font-family:monospace;
}
.form-control{
	height:30px;
	border:none;
	border-bottom:2px solid black;
}
.form-control:hover{
	border-bottom:2px solid yellow;
	box-shadow: 15px 15px 15px 5px #f1fb0e0f;
}
.check-form h3 {
	margin-top:10%;
	font-size:30px;
	color:black;
	animation-name: example;
	animation-duration: 2s;
}
.register-cont{
	top:0%;
	background:white;
	padding:10px  50px;
	width:50%;
	height:20%;
	border-radius:20px;
	box-shadow: 15px 15px 15px 5px #f1fb0e0f;
}

label{
	color:black;
}
.btn-warning{
	padding:10px 150px;
	background:#efef5b;
	border:none;
	border-radius:20px;
}
.btn-warning:hover{
	background:#95950ab0;
}
.register{
	color:black;
	font-size:18px;
	margin-left:30%;
	margin-top:10px;
}

.login-path a{
	Margin-left:15%;
	margin-top:-10%;
	color:black;
}
.login-path:hover{
	color:black;
	text-decoration:none;
}
.checkbox{
	margin-top:20px;
}
#message {
  display:none;
  color: #000;
  position: relative;
}

#message p {
  font-size: 15px;
  color:red;
}